"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
palette = 'catppuccin_mocha'

format = """
[](red)\
$os\
[](bg:peach fg:red)\
$directory\
[](bg:yellow fg:peach)\
$git_branch\
$git_status\
[](fg:yellow bg:green)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:green bg:sapphire)\
$docker_context\
$conda\
[](fg:sapphire bg:lavender)\
[](fg:lavender)\
$line_break\
$character
"""

right_format = """
[](fg:lavender)\
$username\
$hostname\
$cmd_duration\
$time\
[](fg:lavender)
"""

[hostname]
disabled = false
ssh_only = false
style = "fg:crust bg:lavender"
format = '[@$hostname]($style)'

[os]
disabled = false
style = "fg:crust bg:red"

[os.symbols]
Windows = ""
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
AOSC = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "fg:crust bg:lavender"
style_root = "fg:crust bg:red"
format = '[$user]($style)'

[directory]
style = "fg:crust bg:peach"
format = '[$path]($style)'
truncation_length = 3
truncation_symbol = "…/"
truncate_to_repo = true

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
format = '[$symbol $branch](fg:crust bg:yellow)'

[git_status]
format = '[$all_status$ahead_behind](fg:crust bg:yellow)'

[c]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[rust]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[golang]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[nodejs]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[php]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[java]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[kotlin]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[haskell]
symbol = ""
format = '[$symbol $version](fg:crust bg:green)'

[python]
symbol = ""
format = '[$symbol $version(#$virtualenv)](fg:crust bg:green)'

[docker_context]
symbol = ""
format = '[$symbol $context](fg:crust bg:sapphire)'

[conda]
symbol = " "
style = "fg:crust bg:sapphire"
format = '[$symbol$environment]($style)'
ignore_base = false

[time]
disabled = false
time_format = "%R"
format = '[ $time](fg:crust bg:lavender)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[❯](bold fg:green)'
error_symbol = '[❯](bold fg:red)'
vimcmd_symbol = '[❮](bold fg:green)'
vimcmd_replace_one_symbol = '[❮](bold fg:lavender)'
vimcmd_replace_symbol = '[❮](bold fg:lavender)'
vimcmd_visual_symbol = '[❮](bold fg:yellow)'

[cmd_duration]
show_milliseconds = true
disabled = false
show_notifications = false
min_time = 250
format = '[ $duration](fg:crust bg:lavender)'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
